@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/*Information gathered from w3schools.com*/
html, body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	
}
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('https://images.hdqwalls.com/download/gradient-crack-texture-5k-mk-2560x1440.jpg') no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
intro .inner {
	display: table-cell;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
}
.content h1 {
	text-align: center;
	font-family: 'Raleway',sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
}

.btn-group button {
  width: 25%;
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #036A81;
  border: solid #036A81 3px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  text-transform: uppercase;
  text-decoration: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #fff;
}
	